{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-info bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-md-auto gap-2">
          <li class="nav-item rounded">
            <a class="nav-link active text-white" aria-current="page" href="#"><i class="bi bi-house-fill me-2"></i>Infos-Car</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link text-white" href="#"><i class="bi bi-telephone-fill me-2"></i>Contact</a>
          </li>
          <li class="nav-item dropdown rounded">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="vh-100 d-flex ">
    <div class="container" style="margin-top: 10px">
        <h2 class="text-center" style="margin-bottom:10px"> Voyagez partout en Côte d'Ivoire <img src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_C%C3%B4te_d%27Ivoire.svg"  style="width:50px; height:50px "></h2> 
        <div class="container">
        <form action="" method="GET" >
        {% csrf_token %}
                 <div class="row">
                <div class="col-sm-3">
                {{filter.form|crispy}}
                    <button type="submit" class="btn btn-outline-success btn-lg">Rechercher</button>    
                </div>
                <div class="col-sm-9">
                    <div class="container">
                        {% if filter.qs %}
                        <table class="table">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Logo</th>
                              <th scope="col">Compagnie</th>
                              <th scope="col">Départ</th>
                              <th scope="col">Arrivée</th>
                              <th scope="col">Prix</th>
                              <th scope="col">Reservez</th>
                            </tr>
                          </thead>
                          <tbody>
                       
                             {% for trip in filter.qs %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td><img src="{{ trip.company.logo.url }}" width="40" height="40"></td>
                              <td>{{ trip.company }}</td>
                              <td>{{trip.start}}</td>
                              <td>{{trip.arrival}}</td>
                              <td>{{trip.price}}</td>
                              <td><a href="{{trip.company.website}}">Reserver</a></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        {% else %}
                        <p> il n'y a pas de voyage correspondant à votre recherche</p>
                      {% endif %}
                      </div>
                    </div>
                </div>
        </form>
    </div>
  </div>



{% endblock %}