<div class="container">
    <div class="row align-items-center">
        <div class="col">
            {{ form.company|as_crispy_field }}
          </div>
        <div class="col">
            {{ form.start|as_crispy_field }}
         </div>
        <div class="col">
            {{ form.arrival|as_crispy_field }}
             </div> 
             
          <div class="row justify-content-center">
            <div class="col-2">
            <button type="submit" class="btn btn-outline-success btn-lg">Rechercher</button> 
            </div>
        </div>
      </div>
    </div>
</form>